@page "/gallery"

<style>
    .page {
		background-image:url(/img/vito-decarlo/Vito-DeCarlo-Home.webp);
		background-size:cover;
		background-position: center center;
		background-attachment: fixed;
    }
</style>
<PageTitle>Gallery ~ Vito</PageTitle>
<h3>Gallery</h3>
<HomeNav />
<div class="gallery-container">
	<div class="gallery-photo">
		<img src="/img/gallery/20210813_195611.webp" />
		<span class="gallery-title">Route 561 / Clermont, FL.</span>
	</div>
	<div class="gallery-photo">
		<img src="/img/gallery/20150809_201843.webp" />
		<span class="gallery-title">Kayaking in the Adirondacks.</span>
	</div>
	<div class="gallery-photo">
		<img src="/img/gallery/20150402_190907.webp" />
		<span class="gallery-title">Mission Beach, California.</span>
	</div>
	<div class="gallery-photo">
		<img src="/img/gallery/20150228_163400.webp" />
		<span class="gallery-title">Alba Carolina Citadel, Romania.</span>
	</div>
	<div class="gallery-photo">
		<img src="/img/gallery/20160306_061311.webp" />
		<span class="gallery-title">KR Market, Bengaluru.</span>
	</div>
	<div class="gallery-photo">
		<img src="/img/gallery/20110405_161000.webp" />
		<span class="gallery-title">Puerto Rico Waves.</span>
	</div>
	<div class="gallery-photo">
		<img src="/img/gallery/20140907_092833.webp" />
		<span class="gallery-title">Racing to the Top, Adirondacks.</span>
	</div>
	<div class="gallery-photo">
		<img src="/img/gallery/20150401_084120.webp" />
		<span class="gallery-title"> Maritime Museum of San Diego.</span>
	</div>
	<div class="gallery-photo">
		<img src="/img/gallery/20160221_162345.webp" />
		<span class="gallery-title">Candies at UB City, Bangalore.</span>
	</div>
	<div class="gallery-photo">
		<img src="/img/gallery/20160222_214922.webp" />
		<span class="gallery-title">ITC Gardenia, Bangaluru.</span>
	</div>
</div>

@code {

}
