@page "/"

<style>
    .page {
		background-image:url(/img/vito-decarlo/Vito-DeCarlo-Home.webp);
		background-size:cover;
		background-position: center center;
		background-attachment: fixed;
    }
</style>
<PageTitle>Vito DeCarlo</PageTitle>
<HomeNav />
<ul class="social-nav centered">
	<li><a href="https://www.youtube.com/channel/UC_ESAegzhlBCnWdYYL4DjaA" alt="YouTube" target="_blank"><i class="fad fa-youtube fa-2x"/></a></li>
	<li><a href="https://twitter.com/VitoDeCarlo" alt="Twitter" target="_blank"><i class="fad fa-twitter fa-2x"/></a></li>
	<li><a href="https://www.linkedin.com/in/vitodecarlo" alt="LinkedIn" target="_blank"><i class="fad fa-linkedin fa-2x"/></a></li>
	<li><a href="https://www.facebook.com/vito.decarlo" alt="facebook" target="_blank"><i class="fad fa-facebook fa-2x"/></a></li>
	<li><a href="https://www.instagram.com/vito_decarlo" alt="Instagram" target="_blank"><i class="fad fa-instagram fa-2x"/></a></li>
	<li><a href="https://github.com/VitoDeCarlo" alt="Github" target="_blank"><i class="fad fa-github fa-2x"/></a></li>
</ul>
<ul class="legal-nav centered">
	<li><i class="fad fa-copyright"/>2021 Vito DeCarlo, All Rights Reserved.</li>
	<li><a href="/privacy">Privacy</a></li>
	<li><a href="/terms">Terms</a></li>
</ul>
