@page "/resume"

<style>
    .page {
		background-image:url(/img/vito-decarlo/Vito-DeCarlo-Home.webp);
		background-size:cover;
		background-position: center center;
		background-attachment: fixed;
    }
</style>
<h3>Resume ~ Vito</h3>
<HomeNav />

@code {

}
