@page "/videos"
@using VitoDeCarlo.Core.Services
@using VitoDeCarlo.Models.YouTube
@inject IYouTubeService YouTubeService

<h3>Video Playlists</h3>

@foreach(var playlist in Playlists)
{
    <div>Title: @playlist.Title</div>
}

@code {
    public IEnumerable<Playlist> Playlists { get; set; } = new List<Playlist>();

    protected override async Task OnInitializedAsync()
    {
        Playlists = await YouTubeService.GetPlaylistsAsync();
    }
}
