<ul class="home-nav">
	<li class="home-1"><NavLink href="gallery">Gallery</NavLink></li>
	<li class="home-2"><NavLink href="video">Video</NavLink></li>
	<li class="home-2"><NavLink href="videos">Videos</NavLink></li>
@*	<li class="home-1"><NavLink href="writings">Writings</NavLink></li>*@
@*	<li class="home-3"><NavLink href="timeline">Timeline</NavLink></li>*@
@*	<li class="home-2"><NavLink href="resume">Resume</NavLink></li>*@
</ul>

@code {

}
